.topdiv {
    height: 4px;
    background: #222;
    clear: both;
}
.top_banner {
    height: auto;
    width: 100%;
    background: #005ed3;
    padding: 0px 0px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.top_banner {
    height: auto;
    width: 100%;
    background: #005ed3;
    padding: 0px 0px;
}
.banner_text h1 {
    font-size: 2.1em;
    text-align: center;
    color: White;
    margin: 0;
    padding: 5px 0;
    font-weight: normal;
    font-family: Arial;
}
.banner_text h2 {
    font-size: 1.3em;
    text-align: center;
    color: #b2e4fe;
    margin: 0;
    padding: 0px 0 0px 0;
    font-weight: normal;
}
#login_panel{
	border-radius: 8% 8% 10% 10%;
}
.form-group {
    margin-bottom: 15px;
}